.aboutUsTitle {
  font-size: 13rem !important;
  font-weight: 900 !important;
  color: #21bf73;
  text-align: right;
  line-height: 0.8;
}

.aboutUsText1 {
  /* font-family: HelveticaLTStd-Roman; */
  font-size: 1.5rem !important;
  line-height: 1.5;
  color: #6b6c6f;
}

.aboutUsText2 {
  /* font-family: HelveticaLTStd-Roman; */
  font-size: 1.5rem !important;
  line-height: 1.5;
  color: #6b6c6f;
  margin-bottom: 2rem !important;
}

.aboutUsText3 {
  /* font-family: HelveticaLTStd; */
  font-size: 3rem !important;
  font-weight: bold !important;
  line-height: 1.5;
  color: #21bf73;
  margin-bottom: 3rem !important;
}

.aboutUsText4Banner {
  background: url('/Group 854.png');
  background-position: center;
  background-size: cover;
  height: 205px;
}

.aboutUsText4 {
  /* font-family: HelveticaLTStd; */
  font-size: 2.25rem !important;
  font-weight: bold !important;
  line-height: 1.5;
  color: white;
}

.aboutUsText5 {
  /* font-family: HelveticaLTStd; */
  font-size: 3rem !important;
  font-weight: bold !important;
  line-height: 1.5;
  color: #191a1f;
  margin-bottom: 1rem;
}

.teamMembersContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.teamMemberCard {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamMemberImage {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin-bottom: 1.5rem;
}

.memberRole {
  color: #a3a3a5;
  font-size: 1rem;
}

.memberName {
  font-size: 1.125rem;
}

.teamSocialIcon {
  width: 28px;
  height: 28px;
  margin: 12px;
}

.chatBoxImg {
  width: 70%;
}

.textSection2 {
  padding-right: 4rem;
  flex-direction: column;
  display: flex;
}

.textSection3 {
  margin-top: 2rem;
}

.textSection4, .teamSection {
  margin-top: 4rem;
}

@media only screen and (max-width: 640px) {
  .teamMemberCard {
    width: 100%;
  }

  .chatBoxImg {
    width: 100%;
  }

  .aboutUsText1, .aboutUsText2 {
    font-size: 14px !important;
    text-align: left;
    margin-bottom: 1rem !important;
  }

  .aboutUsText3 {
    font-size: 22px !important;
    text-align: left;
    margin-bottom: 2rem !important;
  }

  .textSection2 {
    padding-right: 0;
  }

  .textSection3 {
    margin-top: 1rem;
  }

  .textSection3 .aboutUsText3 {
    margin-bottom: 1rem !important;
  }

  .textSection4 {
    margin-top: 1rem;
  }

  .teamSection {
    margin-top: 2rem;
  }

  .aboutUsText5 {
    font-size: 24px !important;
  }

  .teamMemberImage {
    width: 114.8px;
    height: 114.8px;
  }

  .memberName {
    font-size: 14px;
  }

  .memberRole {
    font-size: 13px;
  }

  .teamMembersContainer {
    margin-bottom: 1rem;
  }
}

