.headerRoot {
  background-color: #ffffff;
}

.appbar {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.04) !important;
}

.toolbar {
  height: 88px;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
  height: auto;
  width: 208px;
}

.indicator {
  background-color: #21bf73 !important;
  height: 3px !important;
}

.tabRoot {
  min-width: 0 !important;
  margin: 0 8px !important;
  opacity: 1 !important;
  font-size: 1.375rem !important;
  text-transform: none !important;
}

.tabsFlexContainer {
  height: 88px !important;
}

.selectedTab {
  color: #21bf73 !important;
}

.launchingSoonImage {
  height: 70px;
  width: auto;
}

.drawerPaper {
  width: calc(100% - 2rem);
  padding: 0rem 1rem;

  .header {
    height: 60px;
  }
}

.linksContainer {
  margin-top: 20px;
  padding: 0 1rem;

  .linkText {
    height: 29px;
    font-family: HelveticaLTStd;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #191a1f;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .toolbar {
    height: 60px;
  }

  .logo {
    width: 170px;
  }
}

